body 
    {
        text-align: center;
        color: white;
        background-color: rgb(199, 153, 160);
    }
    h1:hover
    {
        color: black;
    }
img         
    {
        display: block;
        margin: 0 auto;
        max-width: 10%;
        padding: 20px;
    } 
ol
    {
        width: 450px;
        color: black;
        font-style: ;
        font-size: 20px;
        margin: 0 auto;
        text-align:left;
    }
    p
        {
        width: 300px;
        font-size: 40px;
        text-align: center;
        margin: 0 auto;
        }
    footer p
        {
        color: black;
        width: 400px;
        font-size: 20px;
        text-align: center;
        margin: 0 auto;
        }








